{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <h1>This is the home page!!</h1>
            <h2>Ole ole kaptenn!</h2>
        </div>
    </div>
{{end}}


